body {
  text-align: center;
}

form {
  display: inline-block;
  width: 350px;
  text-align: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 1.1rem;
  font-family: sans-serif;
}

.formLabelDiv {
  padding-left: 10px;
  letter-spacing: 0;
}

form > h3 {
  word-spacing: 0.1em;
  text-align: center;
  color: orangered;
  font-weight: lighter;
}

form > select,
form > input {
  width: 100%;
  text-align: left;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  margin-bottom: 1em;
}

#submitdiv {
  text-align: right;
}

#submit {
  padding: 5px 12px;
  border-radius: 1rem;
  border: 0;
  color: white;
  background-color: hsl(0deg, 100%, 66%);
}
