/* @import url("https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono"); */

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Symbola;
  src: url('fonts/Symbola.ttf.woff') format('woff'),
    url('fonts/Symbola.ttf.svg#Symbola') format('svg'),
    url('fonts/Symbola.ttf.eot'),
    url('fonts/Symbola.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

  /* font: 1.2rem Ubuntu, sans-serif; */
  font-family: Symbola, sans-serif;
  font-size: 3rem;
  font-weight: 600;

  /* margin:0; */
  height: 100vh;

  /* white-space:pre; */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-grow: 100px;
}

.text-body {
  display: flex;
  grid-gap: 1.1rem;

  /* align-items */
}

.text {
  margin: 0; /* can just remove */

  /* display:inline-block;
  width: 1.5ch;
  white-space: pre;
  padding: 0;
  border:none;
  letter-spacing: .5ch */

  /* inline-size:10px; */

  /* margin-right:20px; */

  /* margin:0px; */

  /* text-align: center */
}

.selected {
  border-bottom: solid;

  /* padding:.25rem; */
  padding-bottom: 0.5rem;
}

.correct {
  color: lime;
}

.incorrect {
  color: rgb(255, 0, 0);
}
